
.editorconfig
.vs/ProjectEvaluation/synth.metadata.v6.1
.vs/ProjectEvaluation/synth.projects.v6.1
.vs/Synth/DesignTimeBuild/.dtbcache.v2
.vs/Synth/FileContentIndex/27672691-fcea-4e34-8c5c-462408bbad62.vsidx
.vs/Synth/FileContentIndex/44f66ce4-9e3c-480c-92c5-3b3890580884.vsidx
.vs/Synth/FileContentIndex/77d2277d-71e1-4397-9c8e-bba31fa74375.vsidx
.vs/Synth/FileContentIndex/read.lock
.vs/Synth/v17/.futdcache.v2
.vs/Synth/v17/.suo
Matrix.vsdx
Synth.Console/bin/Debug/net6.0-windows/NAudio.Asio.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.Core.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.Midi.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.Wasapi.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.WinForms.dll
Synth.Console/bin/Debug/net6.0-windows/NAudio.WinMM.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Console.deps.json
Synth.Console/bin/Debug/net6.0-windows/Synth.Console.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Console.exe
Synth.Console/bin/Debug/net6.0-windows/Synth.Console.pdb
Synth.Console/bin/Debug/net6.0-windows/Synth.Console.runtimeconfig.json
Synth.Console/bin/Debug/net6.0-windows/Synth.Core.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Core.pdb
Synth.Console/bin/Debug/net6.0-windows/Synth.Keyboard.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Keyboard.pdb
Synth.Console/bin/Debug/net6.0-windows/Synth.Modules.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Modules.pdb
Synth.Console/bin/Debug/net6.0-windows/Synth.Patch.dll
Synth.Console/bin/Debug/net6.0-windows/Synth.Patch.pdb
Synth.Console/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth.Console/obj/Debug/net6.0-windows/apphost.exe
Synth.Console/obj/Debug/net6.0-windows/ref/Synth.Console.dll
Synth.Console/obj/Debug/net6.0-windows/refint/Synth.Console.dll
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.AssemblyInfo.cs
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.AssemblyInfoInputs.cache
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.assets.cache
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.csproj.AssemblyReference.cache
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.csproj.CopyComplete
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.csproj.CoreCompileInputs.cache
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.csproj.FileListAbsolute.txt
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.dll
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.GeneratedMSBuildEditorConfig.editorconfig
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.genruntimeconfig.cache
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.GlobalUsings.g.cs
Synth.Console/obj/Debug/net6.0-windows/Synth.Console.pdb
Synth.Console/obj/project.assets.json
Synth.Console/obj/project.nuget.cache
Synth.Console/obj/Synth.Console.csproj.nuget.dgspec.json
Synth.Console/obj/Synth.Console.csproj.nuget.g.props
Synth.Console/obj/Synth.Console.csproj.nuget.g.targets
Synth.Core/bin/Debug/net6.0/Synth.Core.deps.json
Synth.Core/bin/Debug/net6.0/Synth.Core.dll
Synth.Core/bin/Debug/net6.0/Synth.Core.pdb
Synth.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth.Core/obj/Debug/net6.0/ref/Synth.Core.dll
Synth.Core/obj/Debug/net6.0/refint/Synth.Core.dll
Synth.Core/obj/Debug/net6.0/Synth.Core.AssemblyInfo.cs
Synth.Core/obj/Debug/net6.0/Synth.Core.AssemblyInfoInputs.cache
Synth.Core/obj/Debug/net6.0/Synth.Core.assets.cache
Synth.Core/obj/Debug/net6.0/Synth.Core.csproj.AssemblyReference.cache
Synth.Core/obj/Debug/net6.0/Synth.Core.csproj.CoreCompileInputs.cache
Synth.Core/obj/Debug/net6.0/Synth.Core.csproj.FileListAbsolute.txt
Synth.Core/obj/Debug/net6.0/Synth.Core.dll
Synth.Core/obj/Debug/net6.0/Synth.Core.GeneratedMSBuildEditorConfig.editorconfig
Synth.Core/obj/Debug/net6.0/Synth.Core.GlobalUsings.g.cs
Synth.Core/obj/Debug/net6.0/Synth.Core.pdb
Synth.Core/obj/project.assets.json
Synth.Core/obj/project.nuget.cache
Synth.Core/obj/Synth.Core.csproj.nuget.dgspec.json
Synth.Core/obj/Synth.Core.csproj.nuget.g.props
Synth.Core/obj/Synth.Core.csproj.nuget.g.targets
Synth.Keyboard/bin/Debug/net6.0/Synth.Core.dll
Synth.Keyboard/bin/Debug/net6.0/Synth.Core.pdb
Synth.Keyboard/bin/Debug/net6.0/Synth.Keyboard.deps.json
Synth.Keyboard/bin/Debug/net6.0/Synth.Keyboard.dll
Synth.Keyboard/bin/Debug/net6.0/Synth.Keyboard.pdb
Synth.Keyboard/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth.Keyboard/obj/Debug/net6.0/ref/Synth.Keyboard.dll
Synth.Keyboard/obj/Debug/net6.0/refint/Synth.Keyboard.dll
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.AssemblyInfo.cs
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.AssemblyInfoInputs.cache
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.assets.cache
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.csproj.AssemblyReference.cache
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.csproj.CopyComplete
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.csproj.CoreCompileInputs.cache
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.csproj.FileListAbsolute.txt
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.dll
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.GeneratedMSBuildEditorConfig.editorconfig
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.GlobalUsings.g.cs
Synth.Keyboard/obj/Debug/net6.0/Synth.Keyboard.pdb
Synth.Keyboard/obj/project.assets.json
Synth.Keyboard/obj/project.nuget.cache
Synth.Keyboard/obj/Synth.Keyboard.csproj.nuget.dgspec.json
Synth.Keyboard/obj/Synth.Keyboard.csproj.nuget.g.props
Synth.Keyboard/obj/Synth.Keyboard.csproj.nuget.g.targets
Synth.Modules/bin/Debug/net6.0-windows/Synth.Core.dll
Synth.Modules/bin/Debug/net6.0-windows/Synth.Core.pdb
Synth.Modules/bin/Debug/net6.0-windows/Synth.Keyboard.dll
Synth.Modules/bin/Debug/net6.0-windows/Synth.Keyboard.pdb
Synth.Modules/bin/Debug/net6.0-windows/Synth.Modules.deps.json
Synth.Modules/bin/Debug/net6.0-windows/Synth.Modules.dll
Synth.Modules/bin/Debug/net6.0-windows/Synth.Modules.pdb
Synth.Modules/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth.Modules/obj/Debug/net6.0-windows/ref/Synth.Modules.dll
Synth.Modules/obj/Debug/net6.0-windows/refint/Synth.Modules.dll
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.AssemblyInfo.cs
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.AssemblyInfoInputs.cache
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.assets.cache
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.csproj.AssemblyReference.cache
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.csproj.CopyComplete
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.csproj.CoreCompileInputs.cache
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.csproj.FileListAbsolute.txt
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.dll
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.GeneratedMSBuildEditorConfig.editorconfig
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.GlobalUsings.g.cs
Synth.Modules/obj/Debug/net6.0-windows/Synth.Modules.pdb
Synth.Modules/obj/project.assets.json
Synth.Modules/obj/project.nuget.cache
Synth.Modules/obj/Synth.Modules.csproj.nuget.dgspec.json
Synth.Modules/obj/Synth.Modules.csproj.nuget.g.props
Synth.Modules/obj/Synth.Modules.csproj.nuget.g.targets
Synth.Patch/bin/Debug/net6.0-windows/Synth.Core.dll
Synth.Patch/bin/Debug/net6.0-windows/Synth.Core.pdb
Synth.Patch/bin/Debug/net6.0-windows/Synth.Keyboard.dll
Synth.Patch/bin/Debug/net6.0-windows/Synth.Keyboard.pdb
Synth.Patch/bin/Debug/net6.0-windows/Synth.Modules.dll
Synth.Patch/bin/Debug/net6.0-windows/Synth.Modules.pdb
Synth.Patch/bin/Debug/net6.0-windows/Synth.Patch.deps.json
Synth.Patch/bin/Debug/net6.0-windows/Synth.Patch.dll
Synth.Patch/bin/Debug/net6.0-windows/Synth.Patch.pdb
Synth.Patch/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth.Patch/obj/Debug/net6.0-windows/ref/Synth.Patch.dll
Synth.Patch/obj/Debug/net6.0-windows/refint/Synth.Patch.dll
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.AssemblyInfo.cs
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.AssemblyInfoInputs.cache
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.assets.cache
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.csproj.AssemblyReference.cache
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.csproj.CopyComplete
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.csproj.CoreCompileInputs.cache
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.csproj.FileListAbsolute.txt
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.dll
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.GeneratedMSBuildEditorConfig.editorconfig
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.GlobalUsings.g.cs
Synth.Patch/obj/Debug/net6.0-windows/Synth.Patch.pdb
Synth.Patch/obj/project.assets.json
Synth.Patch/obj/project.nuget.cache
Synth.Patch/obj/Synth.Patch.csproj.nuget.dgspec.json
Synth.Patch/obj/Synth.Patch.csproj.nuget.g.props
Synth.Patch/obj/Synth.Patch.csproj.nuget.g.targets
Synth.sln
WinFormsUi/bin/Debug/net6.0-windows/ControllerMapping.json
WinFormsUi/bin/Debug/net6.0-windows/FftSharp.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.Asio.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.Core.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.Midi.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.Wasapi.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.WinForms.dll
WinFormsUi/bin/Debug/net6.0-windows/NAudio.WinMM.dll
WinFormsUi/bin/Debug/net6.0-windows/patch.json
WinFormsUi/bin/Debug/net6.0-windows/Patches/_autosave.json
WinFormsUi/bin/Debug/net6.0-windows/Synth.Core.dll
WinFormsUi/bin/Debug/net6.0-windows/Synth.Core.pdb
WinFormsUi/bin/Debug/net6.0-windows/Synth.Keyboard.dll
WinFormsUi/bin/Debug/net6.0-windows/Synth.Keyboard.pdb
WinFormsUi/bin/Debug/net6.0-windows/Synth.Modules.dll
WinFormsUi/bin/Debug/net6.0-windows/Synth.Modules.pdb
WinFormsUi/bin/Debug/net6.0-windows/Synth.Patch.dll
WinFormsUi/bin/Debug/net6.0-windows/Synth.Patch.pdb
WinFormsUi/bin/Debug/net6.0-windows/UI.deps.json
WinFormsUi/bin/Debug/net6.0-windows/UI.dll
WinFormsUi/bin/Debug/net6.0-windows/UI.exe
WinFormsUi/bin/Debug/net6.0-windows/UI.pdb
WinFormsUi/bin/Debug/net6.0-windows/UI.runtimeconfig.json
WinFormsUi/bin/Release/net6.0-windows/ControllerMapping.json
WinFormsUi/bin/Release/net6.0-windows/FftSharp.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.Asio.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.Core.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.Midi.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.Wasapi.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.WinForms.dll
WinFormsUi/bin/Release/net6.0-windows/NAudio.WinMM.dll
WinFormsUi/bin/Release/net6.0-windows/Patches/_autosave.json
WinFormsUi/bin/Release/net6.0-windows/Patches/_init.json
WinFormsUi/bin/Release/net6.0-windows/Synth.Core.dll
WinFormsUi/bin/Release/net6.0-windows/Synth.Core.pdb
WinFormsUi/bin/Release/net6.0-windows/Synth.Keyboard.dll
WinFormsUi/bin/Release/net6.0-windows/Synth.Keyboard.pdb
WinFormsUi/bin/Release/net6.0-windows/Synth.Modules.dll
WinFormsUi/bin/Release/net6.0-windows/Synth.Modules.pdb
WinFormsUi/bin/Release/net6.0-windows/Synth.Patch.dll
WinFormsUi/bin/Release/net6.0-windows/Synth.Patch.pdb
WinFormsUi/bin/Release/net6.0-windows/UI.deps.json
WinFormsUi/bin/Release/net6.0-windows/UI.dll
WinFormsUi/bin/Release/net6.0-windows/UI.exe
WinFormsUi/bin/Release/net6.0-windows/UI.pdb
WinFormsUi/bin/Release/net6.0-windows/UI.runtimeconfig.json
WinFormsUi/Code/CCList.cs
WinFormsUi/Code/Constants.cs
WinFormsUi/Code/ControlHandler.cs
WinFormsUi/Code/ControlKnobMap.cs
WinFormsUi/Code/Json.cs
WinFormsUi/Code/Persist.cs
WinFormsUi/Controls/iControl.cs
WinFormsUi/Controls/Knob.cs
WinFormsUi/Controls/Knob.Designer.cs
WinFormsUi/Controls/Knob.resx
WinFormsUi/Controls/Led.cs
WinFormsUi/Controls/Led.Designer.cs
WinFormsUi/Controls/Led.resx
WinFormsUi/Controls/Panel.cs
WinFormsUi/Controls/Panel.Designer.cs
WinFormsUi/Controls/Panel.resx
WinFormsUi/Controls/Rect.cs
WinFormsUi/Controls/Rect.Designer.cs
WinFormsUi/Controls/Rect.resx
WinFormsUi/Controls/Switch.cs
WinFormsUi/Controls/Switch.Designer.cs
WinFormsUi/Controls/Switch.resx
WinFormsUi/Controls/Triangle.cs
WinFormsUi/Controls/Triangle.Designer.cs
WinFormsUi/Controls/Triangle.resx
WinFormsUi/Form1.cs
WinFormsUi/Form1.Designer.cs
WinFormsUi/Form1.resx
WinFormsUi/frmControlMapping.cs
WinFormsUi/frmControlMapping.Designer.cs
WinFormsUi/frmControlMapping.resx
WinFormsUi/frmWaveViewer.cs
WinFormsUi/frmWaveViewer.Designer.cs
WinFormsUi/frmWaveViewer.resx
WinFormsUi/Image1.png
WinFormsUi/images/lfoWaveform.png
WinFormsUi/images/Logo.png
WinFormsUi/images/Octave.png
WinFormsUi/images/TickDial.png
WinFormsUi/images/vcf.png
WinFormsUi/images/VCOWaveform.png
WinFormsUi/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WinFormsUi/obj/Debug/net6.0-windows/apphost.exe
WinFormsUi/obj/Debug/net6.0-windows/ref/UI.dll
WinFormsUi/obj/Debug/net6.0-windows/refint/UI.dll
WinFormsUi/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
WinFormsUi/obj/Debug/net6.0-windows/UI.AssemblyInfo.cs
WinFormsUi/obj/Debug/net6.0-windows/UI.AssemblyInfoInputs.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.assets.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Knob.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Led.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Panel.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Rect.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Switch.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.Controls.Triangle.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.AssemblyReference.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.BuildWithSkipAnalyzers
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.CopyComplete
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.CoreCompileInputs.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.FileListAbsolute.txt
WinFormsUi/obj/Debug/net6.0-windows/UI.csproj.GenerateResource.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.designer.deps.json
WinFormsUi/obj/Debug/net6.0-windows/UI.designer.runtimeconfig.json
WinFormsUi/obj/Debug/net6.0-windows/UI.dll
WinFormsUi/obj/Debug/net6.0-windows/UI.frmControlMapping.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.frmMidiController.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.frmWaveViewer.resources
WinFormsUi/obj/Debug/net6.0-windows/UI.GeneratedMSBuildEditorConfig.editorconfig
WinFormsUi/obj/Debug/net6.0-windows/UI.genruntimeconfig.cache
WinFormsUi/obj/Debug/net6.0-windows/UI.GlobalUsings.g.cs
WinFormsUi/obj/Debug/net6.0-windows/UI.pdb
WinFormsUi/obj/Debug/net6.0-windows/UI.Properties.Resources.resources
WinFormsUi/obj/project.assets.json
WinFormsUi/obj/project.nuget.cache
WinFormsUi/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WinFormsUi/obj/Release/net6.0-windows/apphost.exe
WinFormsUi/obj/Release/net6.0-windows/ref/UI.dll
WinFormsUi/obj/Release/net6.0-windows/refint/UI.dll
WinFormsUi/obj/Release/net6.0-windows/UI.AssemblyInfo.cs
WinFormsUi/obj/Release/net6.0-windows/UI.AssemblyInfoInputs.cache
WinFormsUi/obj/Release/net6.0-windows/UI.assets.cache
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Knob.resources
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Led.resources
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Panel.resources
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Rect.resources
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Switch.resources
WinFormsUi/obj/Release/net6.0-windows/UI.Controls.Triangle.resources
WinFormsUi/obj/Release/net6.0-windows/UI.csproj.AssemblyReference.cache
WinFormsUi/obj/Release/net6.0-windows/UI.csproj.CopyComplete
WinFormsUi/obj/Release/net6.0-windows/UI.csproj.CoreCompileInputs.cache
WinFormsUi/obj/Release/net6.0-windows/UI.csproj.FileListAbsolute.txt
WinFormsUi/obj/Release/net6.0-windows/UI.csproj.GenerateResource.cache
WinFormsUi/obj/Release/net6.0-windows/UI.dll
WinFormsUi/obj/Release/net6.0-windows/UI.frmControlMapping.resources
WinFormsUi/obj/Release/net6.0-windows/UI.frmMidiController.resources
WinFormsUi/obj/Release/net6.0-windows/UI.frmWaveViewer.resources
WinFormsUi/obj/Release/net6.0-windows/UI.GeneratedMSBuildEditorConfig.editorconfig
WinFormsUi/obj/Release/net6.0-windows/UI.genruntimeconfig.cache
WinFormsUi/obj/Release/net6.0-windows/UI.GlobalUsings.g.cs
WinFormsUi/obj/Release/net6.0-windows/UI.pdb
WinFormsUi/obj/Release/net6.0-windows/UI.Properties.Resources.resources
WinFormsUi/obj/UI.csproj.nuget.dgspec.json
WinFormsUi/obj/UI.csproj.nuget.g.props
WinFormsUi/obj/UI.csproj.nuget.g.targets
WinFormsUi/Patches/_autosave.json
WinFormsUi/Patches/_init.json
WinFormsUi/Program.cs
WinFormsUi/Properties/Resources.Designer.cs
WinFormsUi/Properties/Resources.resx
WinFormsUi/SP1.png
WinFormsUi/UI.csproj
WinFormsUi/UI.csproj.user
WpfUi/App.xaml
WpfUi/App.xaml.cs
WpfUi/AssemblyInfo.cs
WpfUi/bin/Debug/net6.0-windows/WpfUi.deps.json
WpfUi/bin/Debug/net6.0-windows/WpfUi.dll
WpfUi/bin/Debug/net6.0-windows/WpfUi.exe
WpfUi/bin/Debug/net6.0-windows/WpfUi.pdb
WpfUi/bin/Debug/net6.0-windows/WpfUi.runtimeconfig.json
WpfUi/MainWindow.xaml
WpfUi/MainWindow.xaml.cs
WpfUi/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WpfUi/obj/Debug/net6.0-windows/App.g.cs
WpfUi/obj/Debug/net6.0-windows/App.g.i.cs
WpfUi/obj/Debug/net6.0-windows/apphost.exe
WpfUi/obj/Debug/net6.0-windows/MainWindow.baml
WpfUi/obj/Debug/net6.0-windows/MainWindow.g.cs
WpfUi/obj/Debug/net6.0-windows/MainWindow.g.i.cs
WpfUi/obj/Debug/net6.0-windows/ref/WpfUi.dll
WpfUi/obj/Debug/net6.0-windows/refint/WpfUi.dll
WpfUi/obj/Debug/net6.0-windows/WpfUi.AssemblyInfo.cs
WpfUi/obj/Debug/net6.0-windows/WpfUi.AssemblyInfoInputs.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi.assets.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi.csproj.AssemblyReference.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi.csproj.BuildWithSkipAnalyzers
WpfUi/obj/Debug/net6.0-windows/WpfUi.csproj.CoreCompileInputs.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi.csproj.FileListAbsolute.txt
WpfUi/obj/Debug/net6.0-windows/WpfUi.designer.deps.json
WpfUi/obj/Debug/net6.0-windows/WpfUi.designer.runtimeconfig.json
WpfUi/obj/Debug/net6.0-windows/WpfUi.dll
WpfUi/obj/Debug/net6.0-windows/WpfUi.g.resources
WpfUi/obj/Debug/net6.0-windows/WpfUi.GeneratedMSBuildEditorConfig.editorconfig
WpfUi/obj/Debug/net6.0-windows/WpfUi.genruntimeconfig.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi.pdb
WpfUi/obj/Debug/net6.0-windows/WpfUi_MarkupCompile.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi_MarkupCompile.i.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi_MarkupCompile.lref
WpfUi/obj/Debug/net6.0-windows/WpfUi_vriecig2_wpftmp.AssemblyInfo.cs
WpfUi/obj/Debug/net6.0-windows/WpfUi_vriecig2_wpftmp.AssemblyInfoInputs.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi_vriecig2_wpftmp.assets.cache
WpfUi/obj/Debug/net6.0-windows/WpfUi_vriecig2_wpftmp.csproj.BuildWithSkipAnalyzers
WpfUi/obj/Debug/net6.0-windows/WpfUi_vriecig2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfUi/obj/project.assets.json
WpfUi/obj/project.nuget.cache
WpfUi/obj/WpfUi.csproj.nuget.dgspec.json
WpfUi/obj/WpfUi.csproj.nuget.g.props
WpfUi/obj/WpfUi.csproj.nuget.g.targets
WpfUi/WpfUi.csproj
WpfUi/WpfUi.csproj.user
